$('#reset_password_errors').replaceWith('<div id="reset_password_success"><div class="password_reset_error_body">Okay, you should be all set. We\'ve sent you instructions for resetting your password. Now go check your email!</div></div>');
