$('#reset_password_errors').replaceWith('<div id="reset_password_errors"><div class="password_reset_error_header">Uh-oh.</div><div class="password_reset_error_body">We couldn\'t find anybody with that email address.<br/>Feel free to try again.</div></div>');
