$("#calendar_menu_<%= escape_javascript(@menu_date) %>").replaceWith('<div id="calendar_menu_<%= escape_javascript(@menu_date) %>"><%= escape_javascript(render(:partial => "daily_selections")) %></div>');
