<html>
  <head>

  </head>
  <body>
    Hello <%= @user.first_name %>,
    <p>
      A request to reset your password has been made.
      If you did not make this request, you can just ignore this email.
      If you did make this request, just click the link below:
    </p>
    <p>
      <%= @url %>
    </p>
    <p>
      If the above URL does not work, try copying and pasting it into your browser.
      If you have any problems please feel free to contact us.
    </p>
    <p>
      Have a nice day!
    </p>
    -Bakery Market
  </body>
</html>
