<html>
  <head>

  </head>
  <body>
    Hello, <%= @user.first_name %>,
    <p>
      If you're reading this, it means you have successfully registered for Bakery Market service.
    </p>
    <p>
      Just point your browser to http://www.thebakerymarket.com, and the rest is up to you. If there's anything we can do to help you, don't hesitate to let us know.
    </p>
    <p>
      Thanks!
    </p>
    <p>
      -Bakery Market
    </p>
  </body>
</html>
