.password_reset_box {
	width: 600px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: #FFF;
	/*border: 3px solid #888;*/
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.password_reset_header {
	font: 30px Josefin Slab, Garamond, Didot;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(59,170,255)),
	    color-stop(0.6, rgb(44,106,199))
	);
        background-image: -moz-linear-gradient(
            center bottom,
            rgb(59,170,255) 20%,
            rgb(44,106,199) 60%
        );
        -webkit-border-radius: 10px 10px 0px 0px;
        -moz-border-radius: 10px 10px 0px 0px;
        color: #FFF;
}

.password_reset_subheader {
	font: 20px Didot, Georgia;
	color: #777;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.password_reset_table_labels {
	font: 22px Didot, Georgia;
	color: #666;
}

#password_reset_text_container {
	font: 20px Garamond, Didot;
	padding-top: 20px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

input.reset_password_text {
	width: 350px;
	height: 34px;
	font: 25px Didot;
}

.submit_button {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.submit_button img {
	width: 200px;
}

#loading {
	width: 45px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 35px;
	padding-bottom: 35px;
}

#reset_password_errors {
    background-color: #9f4848;
}

#reset_password_success {
    background-color: #0ebe07;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error_container {
	background: #9a4d4d;
	color: #FFF;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

.error_sub_header {
	font: 20px Didot, Georgia;
}

.error_header {
	font: 30px Didot, Georgia;
}

.password_reset_error_header {
    font: 30px Didot, Georgia;
    color: #FFF;
    text-align: center;
    padding-top: 5px;
}

.password_reset_error_body {
    font: 20px Didot, Georgia;
    color: #FFF;
    text-align: center;
    padding-bottom: 5px;
}

.set_new_password_table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 0px;
}
