<div class="meal_service_text">
	Which meal service would you prefer?
</div>
<div class="dinner_button">
	<%= image_tag("dinner.png") %>
</div>
<div class="lunch_button">
	<%= image_tag("lunch.png") %>
</div>
<div class="clearboth"></div>
