<div id="error_messages_container">
	<div class="recipient_error_message_header">
		Whoops!
	</div>
	<% @errors.each do |error| %>
		<% if error == "Recipient first name can't be blank" %>
			<div class="recipient_error_message_body">
				You seem to have forgotten the recipient's first name.
			</div>
		<% elsif error == "Recipient last name can't be blank" %>
			<div class="recipient_error_message_body">
				You seem to have forgotten the recipient's last name.
			</div>
		<% else %>
			<%= error %>
		<% end %>
	<% end %>
</div>