<% if !@order_confirmation.confirmed %>
      <div class="send_order_button">
           <%= link_to image_tag("send_order_basic.png", :mouseover => "send_order_illuminated.png"), { :controller => "users", :action => "send_order", :id => @order_confirmation.id }, :confirm => "Sure your order is complete? Click Ok to confirm.", :remote => true %>
      </div>
<% end %>