<!--<div id="about_us_container">
	<div class="about_us_major_header">
                If you think your only delivery options are pizzas and over-priced sandwiches, it's time to think again.
	</div>
	<div class="about_us_minor_header">

		<div class="add_on_link">
			<%= link_to "See how it works >>", { :controller => "users", :action => "explanations" } %>
		</div>
	</div>
  <div class="lessons_container">
				<div class="about_us_subtitle">
					Bakery Market Lesson #1 - Fast-casual doesn't really seem all that fast.
				</div>
				<div class="about_us_body">
					Don't get me wrong, I love to get out of the office now and again to get some fresh air and check out some new spots.<br/><br/>
                                        But I also love going to the bookstore to check out a book I've wanted to read. Or getting my car washed. Or checking out a new phone.<br/><br/>
                                        Lately I've had a difficult time enjoying great food while still having enough time to run my errands and make it back to the office in time for my afternoon meeting.
                                        Instead, I'm left having to make the choice between getting a good lunch, or doing the other million things I want to get done in the all-too-short day.<br/><br/>
                                        I think that's a waste.<br/><br/>While we all need a change once in a while, if you'd rather spend your lunch hour on you, instead of filing through a line
                                        like a damned fool, well then we've got you covered.
                                </div>
  </div>
  <div class="lessons_container">
				<div class="about_us_subtitle">
					Bakery Market Lesson #2 - My apologies, but $5 is too much for that sandwich.
				</div>
				<div class="about_us_body">
					C'mon, guys, who are you kidding? There's a recession, but that doesn't mean I'm going to drive all the way to your store and eat
                                        cheap processed meats or meatballs scooped out of a tub and stuck in a microwave.<br/><br/>Fresh? I think not.<br/><br/>
                                        At Bakery Market, our food is purchased from local sellers hours before it is prepared for consumption. And processed meats stuck together with wax paper?
                                        Not around here. If ingredients don't meet our quality standards, we're not going to serve them. It's that simple.
                                        Subs are one of man's greatest inventions, but $5 doesn't seem like such a bargain to me.
                                </div>
</div>
  <div class="lessons_container">
				<div class="about_us_subtitle">
					Bakery Market Lesson #3 - Nobody knows what a "service charge" or "delivery fee" is.<br/>Also, a proposed method of how to not treat people like they're stupid.
				</div>
				<div class="about_us_body">
					See if this sounds familiar- you've decided to place a delivery order, and after carefully ensuring that you've
                                        met the seller's delivery minimum (which we think is pretty ridiculous in and of itself, but that's another conversation),
                                        and made your selections, you're ready to proceed to checkout. But wait- for some reason that meal that was just $7.99 has suddenly
                                        become $10.99, and by the time you've left a tip, it has ballooned even more.<br/><br/>
                                        Take for instance this screen shot for an actual order that I myself placed recently:
                                        <div class="charges">
                                          <%= image_tag("charges.png") %>
                                        </div>
                                        That was before a tip! So what I thought was going to cost $7.99 + tip, ended up costing me almost $15!<br/><br/>
                                        We think there's a better way- telling people what something will cost, up front, and allowing them to decide for themselves
                                        whether they think it is worth their time and money. That's why when you buy a meal from us, we guarantee that
                                        you will never get hit with an unexpected last-second charge.
                                </div>
</div>
			
</div>-->