$("#menu_today").fadeOut(500);
$("#meal_order_drop_off_location_container").replaceWith('<div id="meal_order_drop_off_location_container" style="display:none"><%= escape_javascript(render(:partial => "meal_order_drop_off_location")) %></div>');
$("#meal_order_drop_off_location_container").delay(500).fadeIn(500);
