<%= stylesheet_link_tag @stylesheet %>
<div class="explanation_title">
	Default Schedule
</div>
<div class="explanation_body">
	Each week when we refresh your schedule, we will use your default schedule for the next five days.
	You can easily make daily changes to your delivery schedule on your dashboard if you want, and the following week
	your five-day schedule will revert to your default.
	<p>This prevents you from having to make daily or weekly adjustments to your schedule if your delivery
	schedule is mostly the same from one week to the next.</p>
	If you want to change any (or all) of your default delivery days, you can do so at any time by clicking "edit
	settings" for that recipient on your dashboard.
