<div id="update_recipient_header">
	<%= render :partial => "update_recipient_header" %>
</div>
<div id="nav_links">
	<%= render :partial => "name_nav" %>
</div>
<div id="messages">

</div>
<div id="update_recipient_container">
	<%= render :partial => "update_recipient_name" %>
</div>
