<div class="explanations_major_header">
    A food delivery service unlike any you've seen.
</div>
<div class="explanations_container">
    <div class="explanations_subheader">
        No planning, no confusion, no hidden fees.<br/>
        A restaurant-quality lunch delivered with a single click.
    </div>
    <div class="explanations_subheader">
        Here's how it works:
    </div>
    <table class="explanations_table" cellpadding="5">
        <tr>
            <td class="table_header" colspan="2">
                It's almost noon. You're hungry. You don't know exactly what you want. You know it isn't another
                sub sandwich or day-old salad. You think about it for a while, and end up driving somewhere and
                settling for the same stuff you had last week, the week before, and the week before that.
                <p>
                  Does that sound familiar? Well if so, we can help. That's because we tour restaurants all over
                  Nashville and partner with the best ones. Together with each restaurant, we select signature menu items that you are sure to enjoy.
                  Then, at set times, we bring those items right to your office for you. No tips. No hidden charges. No waiting.
                </p>
                <p>
                  This allows you
                  to try different restaurants right from your office without having to spend time wondering what you want
                  or driving around.
                </p>
                <p>
                  How do we do it? Read on.
                </p>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <%= image_tag("map.png") %>
            </td>
            <td valign="top">
              <div class="explanations_red_header">
                  Your lunch is delivered at a set time. No more sitting and waiting for a delivery driver to call.
              </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="explanations_body">
                    We preselect locations based on a number of criteria, and set drop-off times throughout the day for each location.
                    We bring your items to you at the specified time, so you know when to expect us. That way you can plan your
                    day without having to track an order or wonder where your food is.
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <%= image_tag("send_order.png") %>
            </td>
            <td valign="top">
              <div class="explanations_red_header">
                  Single-click ordering.
              </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="explanations_body">
                    Our streamlined ordering system allows you to instantly see what is being offered each day at each time, and with a single click your
                    order is sent to us for preparation.
                </div>
            </td>
        </tr>
        <tr>
          <td rowspan="2">
              <%= image_tag("simple_price.png") %>
          </td>
          <td valign="top">
            <div class="explanations_red_header">
                No tips, delivery charges, or hidden fees.
            </div>
          </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="explanations_body">
                    Nobody likes being jerked around, or shown one price only to be charged something else at checkout time.
                    We get that. That's why we designed this system so you can just place your order and pick it up when it arrives.
                    <p class="last_paragraph">
                      We accomplish this by using a system of pre-purchased credits that are used to place orders. This allows you
                      to seamlessly place your order with a single click, and
                      when your meal arrives, you can pick it up in seconds without figuring out a tip or signing a receipt.
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
