<div id="whole_new_user_container">    
	<div id="registration_container">
		<div class="main_container">
			<div class="new_user_service_plan">
				<table class="registration_header_table">
					<tr>
						<td>
							<div class="header_table_text">
								User Registration
							</div>
                                                        
						</td>
						<td align="right">
							
						</td>
					</tr>
				</table>
				<div class="clearboth"></div>
			</div>
			<div id="registration_errors">
		
			</div>	
			<div id="info_container">
				<%= render :partial => "create_user" %>
			</div>
		</div>
	</div>
        <div class="thanks">
                Thanks for trying Third Batch!<br/>
                -We'll see ya soon!
        </div>
  <div class="clearboth"></div>
</div>
