$("#menu_buttons").replaceWith('<div id="menu_buttons"><%= escape_javascript(render(:partial => "menu_buttons")) %></div>');
$("#daily_menu").replaceWith('<div id="daily_menu"><%= escape_javascript(render(:partial => "daily_menu_alt")) %></div>');
