$("#update_settings_error_messages").replaceWith('<div id="update_settings_error_messages"><div class="error_message_header"><%= escape_javascript(render(:partial => "error_messages")) %></div></div>');
