<table>
	<tr>
		<td>
			<%= radio_button("service_plan", "name", "basic", :checked => true) %>
		</td>
		<td>
			<div class="plan_header">
				Occasionally - $32.00/month
			</div>
		</td>
	</tr>
</table>
<div class="plan_subtext">
	Includes:
	<div class="plan_plaintext">
		<ul>
			<li>
				4 Meals of your choice delivered every month
			</li>
			<li>
				Eco-friendly insulated container
			</li>
			<li>
				No Tips, Delivery Charges, or Hidden Fees
			</li>
		</ul>
	</div>
</div>
<table>
	<tr>
		<td>
			<%= radio_button("service_plan", "name", "regular") %>
		</td>
		<td>
			<div class="plan_header">
				Regularly - $84.00/month
			</div>
		</td>
	</tr>
</table>
<div class="plan_subtext">
	Includes:
	<div class="plan_plaintext">
		<ul>
			<li>
				12 Meals of your choice delivered every month
			</li>
			<li>
				Eco-friendly insulated container
			</li>
			<li>
				No Tips, Delivery Charges, or Hidden Fees
			</li>
		</ul>
	</div>
</div>
<table>
	<tr>
		<td>
			<%= radio_button("service_plan", "name", "every_day") %>
		</td>
		<td>
			<div class="plan_header">
				Every Day - $150.00/month
			</div>
		</td>
	</tr>
</table>
<div class="plan_subtext">
	Includes:
	<div class="plan_plaintext">
		<ul>
			<li>
				25 Meals of your choice delivered every month
			</li>
			<li>
				Eco-friendly insulated container
			</li>
			<li>
				No Tips, Delivery Charges, or Hidden Fees
			</li>
		</ul>
	</div>
</div>
