<div id="user_service_plan_container">
	<div class="add_recipient_header">
		Add a Recipient to <%= @location.name %>
	</div>
	<div class="step_one" align="center">
		<%= image_tag("step_one.png", :class => "step_image") %>
	</div>
</div>
